In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [8]:
df = pd.read_csv("HousingData.csv")

In [9]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [29]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [30]:
df.drop('CRIM', axis=1, inplace=True)

In [33]:
df.drop('ZN', axis=1, inplace=True)

In [34]:
df.drop('INDUS', axis=1, inplace=True)

In [35]:
df.drop('CHAS', axis=1, inplace=True)

In [38]:
df.drop('AGE', axis=1, inplace=True)

In [36]:
df.drop('LSTAT', axis=1, inplace=True)

In [39]:
df.isnull().sum()

NOX        0
RM         0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
MEDV       0
dtype: int64

In [41]:
X = df[['RM','DIS','DIS','RAD','TAX','PTRATIO','B']]
Y = df['MEDV']

In [42]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , Y , test_size = 0.3 , random_state = 42 )

In [43]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [45]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [46]:
print(y_pred)

[29.29227773 31.08678392 16.88531478 22.70239005 21.73687758 23.95757644
 22.64759885 20.5646822  21.19288192 22.27952659 25.93882667 26.27295519
  2.44373899 23.57518093 19.80700478 27.08438972 23.0419008  10.17304573
 43.2895374  21.04716748 25.96539898 28.82656866 17.55315815 25.74103591
 18.38569142 14.09703463 20.9371949  18.8671574  23.19818811 20.29558619
 22.45782682 25.78755785 30.43760203 14.11378213 18.40319111 22.32014965
 34.01561021 21.20267634 23.76403007 23.93682681 17.02843749 31.8420951
 44.68450346 18.54704603 27.83216995 17.23866693 17.5310129  25.44675489
 20.72925856 31.30670639 26.56577353 35.98836513 21.71782229 26.42752568
 42.07706396 21.55761751 21.36061612 30.04428884 26.92014091 18.45267109
 27.97085447 34.15224711 29.27922021 14.36416256 25.05187533 18.24643675
 23.41131505 25.21646332 28.59675866 12.79182196 22.76991632 25.34362758
 15.8107299  16.79796029 23.04093902 15.26107188 21.47848763 43.24880878
 24.14199316 11.50659394 20.91541702 15.22338519 23.01070684 11.80494566
 23.88732963 30.29596746 22.79515844 25.65789951 25.8638778  22.8913614
 25.82945884  9.49088693 21.80337298 20.06530181 -0.87290741 21.97831739
 21.02617001  2.3560469  17.15287725 18.98042989 23.93920817 24.07508579
 13.11704858 19.07375037 23.87592596 13.81599081 18.28048283 25.57978229
 22.40248041 26.31089772 14.35277894 23.00254085 24.39344393 26.83267865
 34.14879766 16.27217728 39.97129847 15.62395357 19.70100627 28.81885292
 18.07581401 25.87497064 12.91014172 23.17870176 25.52223012 22.61401378
 26.55020919 34.9914837  22.98001393 42.96216648 20.59524389 25.65394958
 20.76569435 23.8409375  19.67899832 17.99815768 22.82931879 33.37521886
 30.77568979 19.80657938 20.24802618 28.33564068 23.26713564 18.75354817
 14.73819621 26.19401785 26.70148794 22.70591309 18.97430885 47.0992971
 18.09963772 21.45784608]

In [47]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,y_pred)
print("Root mean Square error is :")
print(rmse)

SyntaxError: '(' was never closed (420122912.py, line 2)